<a href="https://colab.research.google.com/github/Batovs/Dicionario-Fonetico---Steno-ptbr/blob/main/Fonetico_para_Plover_dic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [117]:
import pandas as pd
import numpy as np
import re

In [118]:
diclink = 'https://raw.githubusercontent.com/Batovs/Dicionario-Fonetico---Steno-ptbr/main/Dicionario_Fonetico.csv'
df = pd.read_csv(diclink,index_col=0)
df

              Palavra Categoria gramatical         Fonética
0                   a               artigo                a
1                   a           preposição                a
2             á-bê-cê       nome masculino       ˌa.bˌe.sˈe
3      a-pro·pó·si·to       nome masculino  a.pɾo.pˈɔ.zi.tʊ
4         à-von·ta·de       nome masculino   ˌa.võ.tˈa.dʒi
...               ...                  ...              ...
62341         zon·zom       nome masculino         zõ.zˈõ
62342            zo·o       nome masculino            zˈo.ʊ
62343      zo·ó·fi·la        nome feminino      zo.ˈɔ.fi.lə
62344      zo·ó·fi·lo       nome masculino      zo.ˈɔ.fi.lʊ
62345      zo·ó·fi·lo             adjetivo      zo.ˈɔ.fi.lʊ

[62346 rows x 3 columns]

In [119]:
#Tirando fonéticas com duas opções e limpeza inicial
df['Fonética'] = df['Fonética'].str.replace('.ou.*','', regex=True)
df['Fonética'] = df['Fonética'].str.replace('^ˌ','', regex=True)

In [120]:
df = df.drop('Categoria gramatical',axis=1)

In [121]:
#Juntando Palavras
for i in range (len(df)):
  df['Palavra'][i] = df['Palavra'][i].replace("·","")
for i in range (len(df)):
  df['Palavra'][i] = df['Palavra'][i].replace("-","")
df

          Palavra         Fonética
0               a                a
1               a                a
2           ábêcê        a.bˌe.sˈe
3      apropósito  a.pɾo.pˈɔ.zi.tʊ
4        àvontade    a.võ.tˈa.dʒi
...           ...              ...
62341      zonzom         zõ.zˈõ
62342         zoo            zˈo.ʊ
62343     zoófila      zo.ˈɔ.fi.lə
62344     zoófilo      zo.ˈɔ.fi.lʊ
62345     zoófilo      zo.ˈɔ.fi.lʊ

[62346 rows x 2 columns]

In [122]:
df = df.drop_duplicates()
df.reset_index(inplace=True)
df = df.drop('index',axis=1)

In [123]:
#Transformando fonetica em lista, sem tônica
for i in range (len(df)):
  df['Fonética'][i] = df['Fonética'][i].replace("ˈ","").split('.')
df

          Palavra              Fonética
0               a                   [a]
1           ábêcê          [a, bˌe, se]
2      apropósito  [a, pɾo, pɔ, zi, tʊ]
3        àvontade     [a, võ, ta, dʒi]
4              aa                [a, a]
...           ...                   ...
53554       zonzo             [zõ, zʊ]
53555      zonzom            [zõ, zõ]
53556         zoo               [zo, ʊ]
53557     zoófila       [zo, ɔ, fi, lə]
53558     zoófilo       [zo, ɔ, fi, lʊ]

[53559 rows x 2 columns]